/*Main Header, kept consistent for all pages*/
.main {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
	text-align: center;
	row-gap: 30px;
	justify-content: space-evenly;
}
.main a {
	text-decoration: none;
	color: black;
}
.main-title {
	grid-column: 1 / span 3;
	font-size: x-large;
	font-weight: bolder;
}
.main-nav {
	font-size: larger;
	font-weight: bold;
}


/*Blog*/
.blog {
	display: grid;
	gap: 30px;
}
.blog-title {
	font-size: larger;
	font-weight: bolder;
}


/*Posts*/
.post {
	display: grid;
	gap: 10px;
}
.post-title {
	font-size: auto;
	font-weight: bold;
}
.post > div {
	padding: auto;
}
.post-img {
	margin: auto;
	max-width: 100%;
}





/*Main footer, keep consistent for all pages*/
footer {
	text-align: center;
}

footer table {
	/*to centre table*/
	margin-left: auto;
	margin-right: auto;

	text-decoration-style: none;
	text-align: left;
}